.printedPage{
    display: block;
    page-break-inside: avoid;
    page-break-after: auto;
    page-break-before: auto;
    margin-bottom: 20px;
}

.printedPage .page{
    display: table;
    margin-left: auto;
    margin-right: auto;
    min-width: 800px;
    max-width: 1100px;
}

.body{
    display: block;
    margin-top: 5px;
    border: 1px solid var(--erlik-sistemimavi-tonlarvista-blue);
    background-color: #ffffff;
}

.page-header{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-img{
    background-image: url("img/img-ege-logo.png");
    background-size: 100% 100%;
    min-width: 80px;
    height: 80px;
    margin: 5px;
    display: inline-block;
}

.logo-img img {
    position: relative;
    width: inherit;
    height: inherit;
    object-fit: over;
}

.logo-title {
    width: fit-content;
    font-family: var(--ba-l-k-regular-font-family);
    font-weight: var(--ba-l-k-regular-font-weight);
    color: var(--erlik-sistemimavi-tonlarfederal-blue);
    font-size: var(--ba-l-k-regular-font-size);
    letter-spacing: var(--ba-l-k-regular-letter-spacing);
    line-height: var(--ba-l-k-regular-line-height);
    white-space: nowrap;
    font-style: var(--ba-l-k-regular-font-style);
}

.info-panel{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    padding: 5px;
}

.title {
    display: inline-flex;
    justify-content: flex-end;
    margin-bottom: 4px;
    max-width: 780px;
}

.title label{
    font-family: var(--alt-yaz-regular-font-family);
    font-weight: var(--alt-yaz-regular-font-weight);
    color: var(--erlik-sistemisiyah-tonlareeire-black);
    font-size: var(--alt-yaz-regular-font-size);
    letter-spacing: var(--alt-yaz-regular-letter-spacing);
    line-height: var(--alt-yaz-regular-line-height);
    white-space: pre-line;
    font-style: var(--alt-yaz-regular-font-style);
    text-align: right;
    max-width: inherit;
}

.sub-title{
    display: inline-flex;
    justify-content: flex-end;
    max-width: 780px;
}

.sub-title label{
    font-family: var(--paragraf-ligth-font-family);
    font-weight: var(--paragraf-ligth-font-weight);
    color: var(--erlik-sistemisiyah-tonlarpaynes-gray);
    font-size: var(--paragraf-ligth-font-size);
    letter-spacing: var(--paragraf-ligth-letter-spacing);
    line-height: var(--paragraf-ligth-line-height);
    white-space: pre-line;
    font-style: var(--paragraf-ligth-font-style);
    max-width: inherit;
}

.content{
    display: block;
    padding: 2px;
    width: 100%;
}

/*
    Tablo CSS'lerine buradan devam edilecek!
*/

.footer {
    display: block;
    padding: 2px;
}

.footer-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    white-space: nowrap;
}

.footer-text, .footer-date {
    font-family: "Urbanist", Helvetica;
    font-weight: 400;
    color: var(--erlik-sistemimavi-tonlarvista-blue);
    font-size: 9pt;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    font-style: italic;
}